
#contact-me article ul{
    max-width: 912px;
    min-width: 250px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
}
#contact-me article li{
    max-width: 100%;
}
#contact-me article ul li a{
    text-align: center;
    margin: 5px;
    text-decoration: none;
    color: var(--main-dark-color);
}
#contact-me article ul li hr{
    width: 100%;
    border-color: var(--main-dark-color);
    color: var(--main-dark-color);
    background-color: var(--main-dark-color);
    margin-top: 3px;
}
#contact-me{
    padding-bottom: 25px;
}

@media screen and (max-width: 700px) {
    #contact-me article ul{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: start;
        padding: 0;
    }
    #contact-me article ul li{
        margin: 4px 0;
        padding-bottom: 6px;
    }
    #contact-me article ul li hr{
        width: 100%;
        margin: 4px 0;
    }
  }