header{
  display: flex;
  justify-content: space-between;
  /* margin: 25px 0; */
  padding: 25px 0;
  background-color: black;
  color: aqua;
}
header div {
  background-color: aqua;
  padding: 10px;
  margin: auto 0;
  width: 275px;
  min-width: 275px;
}
header div h1{
  padding-left: 25px;
  color:black;
  font-size: xx-large;
}
header nav{
  padding: 25px 50px 25px 0;
  width: 400px;
  min-width: 400px;
  /* background-color: blue; */
  margin: auto 0;
}
header nav ul{
  
  /* background-color: brown; */
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
/* header nav ul li{ */
  /* background-color: blueviolet; */
  /* outline: aqua solid 6px; */
  /* border-bottom: aqua solid 5px; */
  /* padding: 0 5px; */
  /* text-decoration: underline;
  text-decoration-thickness: 5px; */
  
  
/* } */
header nav ul li a{
  text-align: center;
  margin: 5px;
}
header nav ul li hr{
  width: 100%;
  border-color: aqua;
  color: aqua;
  background-color: aqua;
}

figure img{
  width: 100%;
  height: 150px;

}
figure {
  position: relative;
}
main figure h3{
  background-color: aqua;
  font-size: x-large;
  color:black;

  position: absolute;
  right: 25px;
  bottom: 20px;
  padding: 5px;
}
main{
  display: flex;
  flex-direction: column;
}
section{
  display: flex;
  flex-direction: column;
}
#about-me,
#work,
#contact-me{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
#about-me aside,
#work aside,
#contact-me aside{
  
  width: 20%;
  border-right: rgb(39, 66, 66) solid 4px;
  min-width: 150px;
}
#about-me aside h2,
#work aside h2,
#contact-me aside h2{
  text-align: right;
  margin: 15px;
  font-size: x-large;
}
#about-me div,
#work div,
#contact-me div{
  width: 80%;
  margin:15px;
  min-width: 300px;
}