:root{
  --main-dark-color: #2d363a;
  --main-accent-color: #a9e3fd;
}
header{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 0;
  background-color: var(--main-dark-color);
  color: var(--main-accent-color);
  min-width: 480px;
}
header div {
  width: 275px;
  min-width: 275px;
}
header div h1{
  padding: 4px 0 8px 25px;
  color:var(--main-dark-color);
  font-size: xx-large;
  background-color: var(--main-accent-color);
}
header nav{
  padding: 8px 50px 0 0;
  width: 400px;
  min-width: 400px;
  margin: auto 0;
}
header nav ul{
  
  /* background-color: brown; */
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
header nav ul li a{
  text-align: center;
  margin: 5px;
  text-decoration: none;
  color: var(--main-accent-color);
}
header nav ul li hr{
  width: 100%;
  border-color: var(--main-accent-color);
  color: var(--main-accent-color);
  background-color: var(--main-accent-color);
  height: 3px;
  margin-top: 3px;
}

figure {
  position: relative;
  min-width: 480px;
}
figure img{
  width: 100%;
  height: 300px;
}
figure h3{
  background-color: var(--main-accent-color);
  font-size: x-large;
  color: var(--main-dark-color);

  position: absolute;
  right: 55px;
  bottom: 20px;
  padding: 5px;
}
main{
  display: flex;
  flex-direction: column;
}
main{
  display: flex;
  flex-direction: column;

}
#about-me,
#work,
#contact-me{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 25px;
}
#about-me aside,
#work aside,
#contact-me aside{
  
  width: 20%;
  /* border-right: rgb(39, 66, 66) solid 4px; */
  border-right: var(--main-dark-color) solid 4px;
  min-width: 150px;
}
#about-me aside h2,
#work aside h2,
#contact-me aside h2{
  text-align: right;
  margin: 8px 20px 0 0;
  font-size: xx-large;
  width: 130px;
  float:right;
  color: var(--main-dark-color);
}
#about-me article,
#work article,
#contact-me article{
  width: 80%;
  margin: 15px 50px 15px 15px;
  min-width: 300px;
}
#about-me-container{
  max-width: 912px;
  min-width: 250px;
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-bottom: 15px;
}
#about-me-container p{
  max-width: 100%;
  min-width: 125px;
}
#about-me-container img{
  border-radius: 25%;
  max-width: 250px;
  min-width: 250px;
}
@media screen and (max-width: 786px) {
  #about-me-container{
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
  }
}
@media screen and (max-width: 545px){
  #about-me aside,
  #work aside,
  #contact-me aside{
    
    min-width: 110px;
  }
  #about-me aside h2,
  #work aside h2,
  #contact-me aside h2{
    margin: 8px 15px 0 0;
    font-size: x-large;
    width: 90px;
  }
}