
#work article{
    display: flex;
    flex-direction: column;
}
.project-container{
    max-width: 912px;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-bottom: 15px;
}
.project-big{
    max-width: 100%;
    position: relative;
}
.overlay{
    background-color: #9a9a9a57;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top:0;
    left: 0;
}
.overlay:hover{
    background-color: #9a9a9a00;
}
.overlay:active{
    background-color: rgba(0, 0, 0, 0.375);
    
}
.project{
    max-width: 456px;
    min-width: 125px;
    position: relative;
}
.project-container div img{
    max-width: 100%;
    height:100%;
    outline: var(--main-accent-color) solid 4px;
}
.project-overlay{
    background-color: var(--main-accent-color);
    font-size: x-large;
    color:var(--main-dark-color);

    position: absolute;
    left: 0;
    bottom: 20px;
}
.project-overlay h4 {
    font-size: medium;
    margin: 10px;
}
.project-overlay h5 {
    font-size: small;
    margin: 10px;
}